<table id = "tableMain" align = "center">
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
				
				<tr>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
					<td> </td>
				</tr>
			</table>
			<br>
			<button class = "adjustButton1" id = "0" onClick = "clickDrop(this.id)">drop</button>
			<button class = "adjustButton2" id = "1" onClick = "clickDrop(this.id)">drop</button>     
			<button class = "adjustButton3" id = "2" onClick = "clickDrop(this.id)">drop</button>     
			<button class = "adjustButton4" id = "3" onClick = "clickDrop(this.id)">drop</button>     
			<button class = "adjustButton5" id = "4" onClick = "clickDrop(this.id)">drop</button>     
			<button class = "adjustButton6" id = "5" onClick = "clickDrop(this.id)">drop</button>     
			<button class = "adjustButton7" id = "6" onClick = "clickDrop(this.id)">drop</button> 
			<br>    